.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
  width: 1184px;
  height: 740px;
  cursor: url("../../../images/Pointer.png"), pointer;
  background-image: url("../../../images/cover-trains.jpg");
  background-position: center;
  background-size: cover;
}

.cover__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .cover__link {
    width: 768px;
    height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .cover__link {
    width: 320px;
    height: 200px;
  }
}
