.lead__title {
  width: 720px;
  min-height: 200px;
  font-family: Inter, "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 32px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .lead__title {
    width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
    padding: 0;
  }
}
