.place__link {
  max-width: 456px;
  font-family: Inter, "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  transition: opacity 200ms ease-in-out;
  cursor: url(../../../images/Pointer.png), pointer;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 766px) {
  .place__link {
    max-width: 288px;
  }
}
